<app-nav-bar [usuarioConectado]="usuarioConectado"></app-nav-bar>
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="../../../../assets/images/icons/calendario.png"
        alt=""
        width="200px"
        height="200px"
      />
      <h2>{{ Titulo }}</h2>
      <p class="lead">Administre sus turnos.</p>
    </div>

    <div class="row g-5">
      <div class="col-md-6 col-lg-6">
        <app-turnos-tabla
          (accion)="recibirAccion($event)"
          (turno)="recibirTurno($event)"
        ></app-turnos-tabla>
      </div>
      <div class="col-md-6 col-lg-6 order-md-last">
        <h4 class="mb-3">Información del Turno</h4>
        <div *ngIf="turno" class="form needs-validation">
          <!-- <h4 class="mb-3">{{tituloUsuario}}</h4> -->
          <div class="row g-3">
            <h4 class="mb-3">{{ accion }} Turno</h4>
            <div *ngIf="usuarioConectado?.perfil == ('paciente' || 'admin')">
              <div class="col-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  [value]="turno.especialista.nombre"
                  id="nombre"
                  placeholder=""
                  value=""
                />
              </div>

              <div class="col-6">
                <label for="apellido" class="form-label">Apellido</label>
                <input
                  type="text"
                  class="form-control"
                  [value]="turno.especialista.apellido"
                  id="apellido"
                  placeholder=""
                  value=""
                />
              </div>
            </div>
            <div
              *ngIf="usuarioConectado?.perfil == ('especialista' || 'admin')"
            >
              <h4 class="mb-3">Paciente</h4>
              <div class="col-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  [value]="turno.paciente!.nombre"
                  id="nombre"
                  placeholder=""
                  value=""
                />
              </div>
              <div class="col-6">
                <label for="apellido" class="form-label">Apellido</label>
                <input
                  type="text"
                  class="form-control"
                  [value]="turno.paciente!.apellido"
                  id="apellido"
                  placeholder=""
                  value=""
                />
              </div>
            </div>
            <div class="col-12">
              <label for="horario" class="form-label">Horario</label>
              <input
                type="text"
                class="form-control"
                [value]="
                  turno.fechaInicio | dateisoToDate | date : 'yyyy-MM-dd HH:mm'
                "
                id="horario"
              />
            </div>
            <div class="col-6">
              <label for="especialidad" class="form-label">Especialidad</label>
              <input
                type="text"
                class="form-control"
                [value]="turno.especialidad.nombre"
                id="especialidad"
              />
            </div>
            <div class="col-6">
              <label for="consultorio" class="form-label">Consultorio</label>
              <input
                type="text"
                class="form-control"
                [value]="turno.consultorio"
                id="consultorio"
              />
            </div>
          </div>

          <div *ngIf="verCalificarAtencion">
            <h4 class="mb-3">Calificación</h4>
            <div class="rating">
              <span
                class="star {{ turno.valorizacion >= 1 ? 'filled' : 'empty' }}"
                (click)="cambiarCalificacion(1)"
              ></span>
              <span
                class="star {{ turno.valorizacion >= 2 ? 'filled' : 'empty' }}"
                (click)="cambiarCalificacion(2)"
              ></span>
              <span
                class="star {{ turno.valorizacion >= 3 ? 'filled' : 'empty' }}"
                (click)="cambiarCalificacion(3)"
              ></span>
              <span
                class="star {{ turno.valorizacion >= 4 ? 'filled' : 'empty' }}"
                (click)="cambiarCalificacion(4)"
              ></span>
              <span
                class="star {{ turno.valorizacion >= 5 ? 'filled' : 'empty' }}"
                (click)="cambiarCalificacion(5)"
              ></span>
            </div>
          </div>

          <div
            *ngIf="
              verCancelarTurno ||
              verResenia ||
              verCalificarAtencion ||
              verRechazarTurnoEspecialista ||
              verFinalizarTurnoEspecialista ||
              verResenia
            "
          >
            <div class="col-12">
              <label for="comentario" class="form-label">Comentario</label>
              <textarea
                [(ngModel)]="turno.comentario"
                class="form-control"
                aria-label="With textarea"
                placeholder="Ingrese un comentario"
                id="comentario"
              ></textarea>
            </div>
          </div>

          <div *ngIf="verFinalizarTurnoEspecialista || verResenia">
            <div class="col-12">
              <label for="resenia" class="form-label">Reseña</label>
              <textarea
                [(ngModel)]="turno.resenia"
                class="form-control"
                aria-label="With textarea"
                placeholder="Ingrese una reseña"
                id="resenia"
              ></textarea>
            </div>
          </div>
          <div *ngIf="verCompletarEncuesta">
            <div class="col-12">
              <label for="encuesta" class="form-label">Encuesta</label>
              <textarea
                [(ngModel)]="turno.encuesta"
                class="form-control"
                aria-label="With textarea"
                placeholder="Que le parecio la atención en la clinica? - ToDo: Desarrollar encuesta de satisfacción"
                id="encuesta"
              ></textarea>
            </div>
          </div>
          <!-- && !tieneHistoriaClinica() -->
          <button
            class="w-100 btn btn-outline-info btn-lg"
            *ngIf="verFinalizarTurnoEspecialista && !tieneHistoriaClinica()"
            (click)="openModal()"
          >
            Completar Historia Clinica
          </button>
          <button
            [ngClass]="claseColorBoton"
            class="w-100 btn btn-outline-primary btn-lg"
            (click)="onSubmit()"
          >
            {{ txtBotonAceptar }}
          </button>
        </div>
      </div>
    </div>
  </main>
</div>

<!-- Modal de Historia Clinica -->
<div #modalHistoria class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form
      [formGroup]="formHistoriaClinica"
      (ngSubmit)="guardarHistoriaClinica()"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Historia Clínica</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="closeModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Altura</span>
                </div>
                <input
                  class="form-control number"
                  formControlName="altura"
                  placeholder="Altura"
                  required
                />
                <b> Cm</b>
              </div>
              <ng-container
              *ngIf="
                formHistoriaClinica.controls['altura'].hasError(
                  'required'
                ) && formHistoriaClinica.controls['altura'].touched
              "
            >
              <small class="error-message"> Ingrese altura </small>
            </ng-container>
            </div>
            <div class="col-md-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Peso</span>
                </div>
                <input
                  class="form-control number"
                  formControlName="peso"
                  placeholder="Peso"
                  required
                />
                <b> Kg</b>
              </div>
              <ng-container
                *ngIf="
                  formHistoriaClinica.controls['peso'].hasError('required') &&
                  formHistoriaClinica.controls['peso'].touched
                "
              >
                <small class="error-message"> Ingrese peso </small>
              </ng-container>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Temp.</span>
                </div>
                <input
                  class="form-control"
                  formControlName="temperatura"
                  placeholder="Temperatura"
                  required
                />
                <b> C°</b>
              </div>
              <ng-container
                *ngIf="
                  formHistoriaClinica.controls['temperatura'].hasError(
                    'required'
                  ) && formHistoriaClinica.controls['temperatura'].touched
                "
              >
                <small class="error-message"> Ingrese temperatura </small>
              </ng-container>
            </div>
            <div class="col-md-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Presión</span>
                </div>
                <input
                  class="form-control"
                  formControlName="presion"
                  placeholder="Presión"
                  required
                />
                <b> mm Hg</b>
              </div>
              <ng-container
                *ngIf="
                  formHistoriaClinica.controls['presion'].hasError(
                    'required'
                  ) && formHistoriaClinica.controls['presion'].touched
                "
              >
                <small class="error-message"> Ingrese presión </small>
              </ng-container>
            </div>
          </div>
          <div>Datos Dinámicos:</div>
          <div>
            <div class="row" *ngFor="let dato of datosDinamicos; let i = index">
              <div class="col-md-4">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Clave</span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Clave"
                    #claveInput
                    required
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Valor</span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Valor"
                    #valorInput
                    required
                  />
                </div>
              </div>
              <div class="col-md-2">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="eliminarDatoDinamico(i)"
                >
                  <i class="fas fa-minus"></i>
                </button>
              </div>
              <div class="col-md-2">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  (click)="agregarDatoDinamico('', '', i)"
                >
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-outline-success"
            data-dismiss="modal"
            [disabled]="!formHistoriaClinica.valid"
          >
            Guardar
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-dismiss="modal"
            (click)="closeModal()"
          >
            Cerrar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="form-validation.js"></script>
