<div class="card">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img
        src="../../../assets/images/health-login.jpg"
        class="card-img"
        alt="login"
      />
    </div>
    <div class="col-md-8">
      <div class="card text-center">
        <div class="card-body">
          <div class="card-header text-white bg-info">Login</div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="Email">Email</span>
              </div>
              <input
                type="email"
                class="form-control"
                formControlName="emailLogin"
                placeholder="Ingrese su email"
                aria-label="Usuario"
                aria-describedby="Email"
              />
              <ng-container
              *ngIf="
                (loginForm.controls['emailLogin'].hasError('email') ||
                loginForm.controls['emailLogin'].hasError('required')) &&
                loginForm.controls['emailLogin'].touched
              "
              >
              <small class="error-message"> Debe ingresar un correo valido </small>
            </ng-container>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="Pass">Clave</span>
              </div>
              <input
                type="password"
                class="form-control"
                formControlName="passwordLogin"
                placeholder="Ingrese su clave"
                aria-label="Clave"
                aria-describedby="Pass"
              />
              <ng-container
              *ngIf="
                loginForm.controls['passwordLogin'].hasError('required') &&
                loginForm.controls['passwordLogin'].touched
              "
              >
              <small class="error-message"> Debe ingresar una contraseña </small>
            </ng-container>
            </div>
            <button
              type="submit"
              class="btn btn-outline-info"
              shape="round"
              size="medium"
            >
              Ingresar
            </button>
            <button
              type="button"
              class="btn btn-outline-primary"
              routerLink="/registro"
              shape="round"
              size="medium"
            >
              Registrarse
            </button>
            <hr /><small class="text-muted">Accesos rápidos</small>
            <div>
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="ingresoAutomatico('admin')"
                shape="round"
                size="medium"
              >
                Admin
              </button>
              <button
                type="button"
                class="btn btn-outline-info"
                (click)="ingresoAutomatico('especialista')"
                shape="round"
                size="medium"
              >
                Especialista
              </button>
              <button
                type="button"
                class="btn btn-outline-primary"
                (click)="ingresoAutomatico('paciente')"
                shape="round"
                size="medium"
              >
                Paciente
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="favbutton position-fixed bottom-0 start-0 m-3">
  <button class="btn btn-primary rounded-circle btn-lg " type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-user"></i>
  </button>
  <ul class="dropdown-menu" aria-labelledby="userDropdown">
    <li><a class="dropdown-item" (click)="ingresoAutomatico('admin')"><img class="user-avatar" [src]="adminIco" alt="Admin"></a></li>
    <li><a class="dropdown-item" (click)="ingresoAutomatico('especialista1')"><img class="user-avatar" [src]="especialista1Ico" alt="Doc 1"></a></li>
    <li><a class="dropdown-item" (click)="ingresoAutomatico('especialista2')"><img class="user-avatar" [src]="especialista2Ico" alt="Doc 2"></a></li>
    <li><a class="dropdown-item" (click)="ingresoAutomatico('paciente1')"><img class="user-avatar" [src]="paciente1Ico" alt="Paciente 1"></a></li>
    <li><a class="dropdown-item" (click)="ingresoAutomatico('paciente2')"><img class="user-avatar" [src]="paciente2Ico" alt="Paciente 2"></a></li>
    <li><a class="dropdown-item" (click)="ingresoAutomatico('paciente3')"><img class="user-avatar" [src]="paciente3Ico" alt="Paciente 3"></a></li>
  </ul>
</div>


