#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

.img-login {
    // background-image: url('../img/newalgas.svg')
    background-color: rgba(22, 101, 165, 0.616);
}

.favbutton {
  transition: all 0.3s ease;
}

.favbutton .dropdown-menu {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.favbutton:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
}

.user-avatar {
  width: 40px; /* Ajusta el tamaño deseado para las imágenes de perfil */
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
