.btn {
  margin-right: 10px;
}


mat-toolbar{
  justify-content: space-between;
}

.botones {
  justify-content: end;
  align-items: end;
}


.navbar-custom {
  background-color: rgb(115, 227, 255);
}

.container{
  margin-bottom: 10px;
}
