<app-nav-bar [usuarioConectado]="usuarioConectado"></app-nav-bar>
<div class="container" >
  <main>
    <div class="py-5 text-center" >
      <img class="d-block mx-auto mb-4" src="../../../../assets/images/icons/users2.png" alt="" width="100px" height="100px"  />
      <h2>Administración de Usuarios</h2>
      <p class="lead">
        Vea la información de los pacientes, autorice nuevos especialistas y dé
        de alta nuevos administradores.
      </p>
    </div>

    <div class="row g-5">
      <div class="d-flex">
        <button class="flex-fill btn btn-primary btn-lg" (click)="altaAdmin()"><i class="fas fa-user-plus"></i>
          Alta Administrador
        </button>
        <button class="flex-fill btn btn-success btn-lg" (click)="exportarExcel()"><i class="fas fa-file-excel"></i>
          Exportar a Excel
        </button>
      </div>
      <div class="row center">
        <app-pacientes-lista [lstUsuarios]="listaUsuarios"></app-pacientes-lista>
      </div>
    </div>
  </main>
</div>

<script src="form-validation.js"></script>
