<app-nav-bar [usuarioConectado]="usuarioConectado"></app-nav-bar>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h2 class="text-center">Sacar turno</h2>
      <div class="mb-4">
        <p style="color: rgb(0, 134, 252)">
          El próximo turno según su última visita:
        </p>
        <div *ngIf="!proximoTurnoSegunHistoria" class="row">
          <small class="text-muted">Uds no posee turnos anteriores.</small>
        </div>
        <div *ngIf="proximoTurnoSegunHistoria" class="row">
          <div class="col">
            <label for="especialista">Especialista:</label>
            <input
              type="text"
              id="especialista"
              class="form-control"
              [value]="
                proximoTurnoSegunHistoria.especialista.nombre +
                ', ' +
                proximoTurnoSegunHistoria.especialista.apellido
              "
              disabled
            />
          </div>
          <div class="col">
            <label for="especialidad">Especialidad:</label>
            <input
              type="text"
              id="especialidad"
              class="form-control"
              [value]="proximoTurnoSegunHistoria.especialidad.nombre"
              disabled
            />
          </div>
          <div class="col">
            <label for="fecha">Fecha:</label>
            <input
              type="text"
              id="fecha"
              class="form-control"
              [value]="
                proximoTurnoSegunHistoria.fechaInicio
                  | date : 'yyyy-MM-dd HH:mm'
              "
              disabled
            />
          </div>
          <div class="col align-self-center">
            <button
              class="btn btn-outlet-primary"
              (click)="tomarTurno(proximoTurnoSegunHistoria)"
            >
              <i class="fas fa-calendar-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <form action="">
        <!-- Listas a partir de aca -->
        <!-- Listado de Especialistas -->
        <div *ngIf="lstEspecialistas.length > 0" class="row">
          <div
            class="col-3"
            *ngFor="let especialista of lstEspecialistas; let i = index"
            appHighLigth="blue">
            <div class="text-center">
              <button
                class="btn btn-lg"
                (click)="seleccionarEspecialista(i)"
              >
                <img
                  [src]="especialista.foto"
                  alt="Imagen del especialista"
                  class="rounded-circle mb-2"
                />
              </button>
              <p><b>{{ especialista.nombre }}</b></p>
            </div>
          </div>
        </div>

        <!-- Listado de Especialidades -->
        <div *ngIf="lstEspecialidades.length > 0" class="row">
          <div class="col-3" *ngFor="let especialidad of lstEspecialidades; let i = index">
            <div class="text-center">
              <button class="rounded-circle mb-2" (click)="seleccionarEspecialidad(i)">
                <img [src]="especialidad.imagen || '../../../assets/images/icons/especialidad.png'" alt="especialidad.png" class="rounded mb-2">
              </button>
              <p><b>{{ especialidad.nombre }}</b></p>
            </div>
          </div>
        </div>
        <hr>
        <div class="row" *ngIf="proximoTurnoRapido" >
          <label for=""><b>Próximo Turno Inmediato:</b></label>
          <div class="col-12">
            <button class="w-100 btn btn-outline-info btn-lg" (click)="tomarTurno(proximoTurnoRapido)"><i class="fas fa-calendar-plus"></i>
             {{proximoTurnoRapido.especialista.nombre}}, {{proximoTurnoRapido.especialista.apellido}} - {{proximoTurnoRapido.especialidad.nombre}} -  {{proximoTurnoRapido.fechaInicio | dateisoToDate | date : "yyyy-MM-dd HH:mm"}}
            </button>
          </div>
        </div>
        <hr>
        <!-- Listado de Fechas -->
        <div *ngIf="lstDiasDeTurnos.length > 0" class="row">
          <div
            class="col-3"
            *ngFor="let fecha of lstDiasDeTurnos; let i = index"
          >
            <button
              class="btn btn-primary btn-rounded"
              (click)="seleccionarFecha(i)"
            >
              {{ fecha | date : "yyyy-MM-dd" }}
            </button>
          </div>
        </div>

        <!-- Listado de Horarios -->
        <div *ngIf="lstTurnosDisponibles.length > 0" class="row">
          <div
            class="col-3"
            *ngFor="let turno of lstTurnosDisponibles; let i = index"
          >
            <button
              class="btn btn-info btn-rounded"
              (click)="seleccionarHora(i)"
            >
              {{ turno.fechaInicio | dateisoToDate | date : "HH:mm" }}
            </button>
          </div>
        </div>
        <!-- Listas hasta aqui -->
      </form>
    </div>
  </div>
</div>
